@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

body {
    background-color: black;
}

h1 {
    color: white;
    text-shadow:  5px 3px 20px rgb(255 255 255 / 44%);
    font-size: 40px;
    font-family: 'Passion One', cursive;
    padding-top: 50px;
    text-align: center;
}

.myButton {
    
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family: 'Libre Baskerville', serif;
	font-size:22px;
	font-weight:bold;
	padding:18px 22px;
	text-decoration:none;
	text-shadow:1px 2px 0px #ffffff;
    margin: 0;
    position: absolute;  
}
.myButton:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}


section {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin: auto;
    height: 500px;
    max-width: 340px;
    
}


