@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');




body {
    background: rgb(0,0,0);
    background: linear-gradient(50deg, rgba(88,18,93,100) 21%, rgba(31,33,104,20) 71%);
}

.tudo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; 
  }
  
.main {
    height: 500px;
    max-width: 340px;
  }
  
.main2 {
    height: 500px;
    max-width: 340px;
  }

  #img_redonda {
    background-image: url('foto2.jpg');
    border: 3px solid rgb(217, 9, 206);
    border-radius: 50%;
    margin: 25px;
    width: 100px;
    height: 100px;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    font-weight: bold;
}

#img_redonda :hover{
    background: linear-gradient(297deg, rgb(164, 3, 164) 35%, rgb(79, 1, 103) 90%);
    width: 130px;
    height: 130px;
    transition-duration: 450ms;
}

#img_redonda2 {
    background-image: url('image.png');
    border: 3px solid rgb(217, 9, 206);
    border-radius: 50%;
    margin: 25px;
    width: 100px;
    height: 100px;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    font-weight: bold;
}

#img_redonda2 :hover{
    background: linear-gradient(297deg, rgb(164, 3, 164) 35%, rgb(79, 1, 103) 90%);
    width: 130px;
    height: 130px;
    transition-duration: 450ms;
}
#text{
    color: white;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    margin: auto
}
title{
    color: white;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    margin: auto

}
header {
    color: white;
    text-align: center;
 }

 header h1 {
    margin-top: -100px;
    padding-top: 150px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 7vw;
 }
   

    
    
